@model LojaVirtual.Dominio.Entidades.Produto

<div class="well">
    <h3><strong>@Html.DisplayFor(modelItem => Model.Nome)</strong></h3>
    <h3><span class="pull-right label label-primary">@Html.DisplayFor(modelItem => Model.Preco)</span></h3>
    <h3><span class="lead">@Html.DisplayFor(modelItem => Model.Descricao)</span></h3>
</div>   